name: E2E tests

on:
  push:
  pull_request:

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v3

      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: jest-light-runner

      - name: Checkout "prettier"
        uses: actions/checkout@v3
        with:
          repository: prettier/prettier
          ref: next
          path: prettier

      - name: Run tests
        run: |
          cd prettier
          yarn install --frozen-lockfile
          yarn upgrade jest-light-runner@file:../jest-light-runner
          yarn test:format

  babel:
    name: Babel
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v3

      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: jest-light-runner

      - name: Checkout "babel"
        uses: actions/checkout@v3
        with:
          repository: babel/babel
          path: babel

      - name: Build
        run: |
          yarn install --frozen-lockfile
          make build-no-bundle
        working-directory: babel

      - name: Update jest-light-runner
        run: |
          yarn upgrade jest-light-runner@file:../jest-light-runner
        working-directory: babel

      - name: Test
        run: |
          yarn jest babel-core babel-preset-env
        working-directory: babel
