name: E2E test(Prettier)

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v3

      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: "jest-light-runner"

      - name: Checkout "prettier"
        uses: actions/checkout@v3
        with:
          repository: "prettier/prettier"
          ref: "next"
          path: "prettier"

      - name: Run tests
        run: |
          cd prettier
          yarn install --frozen-lockfile
          yarn add --dev jest-light-runner@file:../jest-light-runner
          yarn test:format
