name: E2E tests

on:
  push:
  pull_request:

jobs:
  prettier:
    name: Prettier
    strategy:
      matrix:
        additional-options: ["--maxWorkers=2", "--runInBand"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: jest-light-runner

      - name: Checkout "prettier"
        uses: actions/checkout@v3
        with:
          repository: prettier/prettier
          path: prettier

      - name: Setup Node.js
        uses: actions/setup-node@v3

      - name: Build
        run: |
          yarn install --immutable
          yarn build
        working-directory: prettier

      - name: Setup Node.js v14
        uses: actions/setup-node@v3
        with:
          node-version: "14"

      # Prettier need downgrade yarn and jest to run on Node.js 14
      # https://github.com/prettier/prettier/blob/4460a4e55da3a1c9b6ad6b38c9f797e70d8fe551/.github/workflows/prod-test.yml#L94-L109
      - name: Prepare test
        run: |
          yarn set version 3
          node ./scripts/prepare-nodejs-14-test.js
        working-directory: prettier

      - name: Update jest-light-runner
        run: |
          yarn up jest-light-runner@file:../jest-light-runner
        working-directory: prettier

      - name: Run tests
        env:
          NODE_ENV: production
          # FULL_TEST: true
        run: |
          yarn jest tests/format ${{ matrix.additional-options }}
        working-directory: prettier

  babel:
    name: Babel
    runs-on: ubuntu-latest
    strategy:
      matrix:
        additional-options: ["--maxWorkers=2", "--runInBand"]
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v3

      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: jest-light-runner

      - name: Checkout "babel"
        uses: actions/checkout@v3
        with:
          repository: babel/babel
          path: babel

      - name: Build
        run: |
          yarn install --immutable
          make build-no-bundle
        working-directory: babel

      - name: Update jest-light-runner
        run: |
          yarn up jest-light-runner@file:../jest-light-runner
        working-directory: babel

      - name: Disable Babel's setupFilesAfterEnv
        run: |
          echo "" > test/testSetupFile.js
        working-directory: babel

      - name: Test
        run: |
          yarn jest babel-core babel-preset-env ${{ matrix.additional-options }}
        working-directory: babel
